.contact {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, var(--primary-color-dark) 25%, var(--secondary-color-dark) 75%);
    padding-block: 5%;
    padding-inline: 5%;
    display: flex;
}

.formNarrow {
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, var(--primary-color-dark) 25%, var(--secondary-color-dark) 75%);
    padding-block: 5%;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.leftPart, .rightPart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.leftPart h2, .leftPart h3, .leftPart p {
    width: 80%
}

.leftPart h2 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.leftPart h3 {
    margin-bottom: 7%;
}

.leftPart p {
    margin-bottom: 10%;
}

.textArea {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.textArea label {
    margin-bottom: 3%;
}

.textArea textarea {
    width: 80%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 5%;
    background-color: var(--light-color);
    resize: none;
}

.button {
    width: 6rem;
    height: 3rem;
    position: relative;
}

.button button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 5%;
    color: var(--light-color);
    background-color: var(--secondary-color-light);
    border: 1px solid var(--dark-color);
    position: absolute; 
    bottom: 0;
}

.buttonAnim {
    transform: translateY(3px);
}

.buttonBase {
    width: 6rem;
    height: 3px;
    background-color: var(--secondary-color-darker);
    border: 1px solid var(--dark-color);
    border-top: none;
    position: absolute;
    bottom: -3px;
}

@media screen and (max-width: 600px) {
    .form {
        height: 90%;
        flex-direction: column;
        overflow: scroll;
    }

    .leftPart, .rightPart {
        width: 100%;
    }

    .leftPart h2 {
        margin-top: 0px;
    }

    .leftPart h2, .leftPart h3, .leftPart p {
        width: 100%
    }

    .textArea textarea {
        width: 100%;
    }
}

@media screen and (max-height: 600px) {
    .leftPart h2 {
        margin-top: 0;
        margin-bottom: 2%;
    }
    
    .leftPart h3 {
        margin-bottom: 3%;
    }
    
    .leftPart p {
        margin-bottom: 5%;
    }
    
}