.formInput {
    display: flex;
    flex-direction: column;
}

.formInput label {
    margin-bottom: 3%;
}

.formInput input {
    width: 80%;
    padding: 1rem;
    margin-bottom: 5%;
    background-color: var(--light-color);
}

@media screen and (max-width:600px) {
    .formInput input {
        width: 100%;
    }
}