.presentation {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--primary-color-dark) 25%, var(--secondary-color-dark) 75%);
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pictureFrame {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.frame {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at top, var(--secondary-color-light) 40%, var(--primary-color-light));
    border: 5px solid var(--light-color);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame img {
    width: 142%;
    height: 142%;
    transform: rotate(-45deg);
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    object-fit: cover;
}

.bar {
    width: 100px;
    height: 5px;
    background-color: var(--dark-color);
    margin-bottom: 40px;
}

.presentation h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

.presentation p {
    padding: 1rem;
    margin-inline: 0.5rem;
    background-color: var(--dark-color);
}

.presentation button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 20px;
    color: var(--light-color);
    background-color: var(--secondary-color-light);
    border: 1px solid var(--dark-color);
    position: relative;
}

.buttonBase {
    width: 6rem;
    height: 3px;
    background-color: var(--secondary-color-darker);
    border: 1px solid var(--dark-color);
    border-top: none;
}

@keyframes sink {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    40% {
        transform: translateY(-20px) rotate(45deg);
    }

    90% {
        transform: translateY(300px) rotate(45deg);
    }

    100% {
        transform: translateY(300px) rotate(45deg);
    }
}

.sinkAnim {
    animation: sink 2s;
}

@keyframes open {
    0% {
        width: 100px
    }

    25% {
        width: 250px;
    }

    80% {
        width: 250px;
    }

    90% {
        width: 0px;
    }

    100% {
        width: 0px;
    }
}

.openAnim {
    animation: open 2s;
}