.projectPics {
    width: 45%;
    height: 90%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%
}

.projectPics div:first-child{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectPics div:nth-child(2) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

@media screen and (max-aspect-ratio: 1/1) {
    .projectPics {
        width: 90%;
        height: 45%;
    }
}